.main{
  display: flex;
  height: 10vh;
  gap:20px;
}
.box1{
  background-color: aqua;
  width: 500px;
  height: 300px;
  text-align: center;
  padding-top: 10%;
}
.box2{
    background-color: chocolate;
    width: 500px;
    height: 300px;
    text-align: center;
    padding-top: 10%;
}
.box3{
  height: 300px;
  width: 500px;
  background-color: yellow;
  padding-left: 10%;
  padding-top: 10%;
}
img{
  height: 300px;
  width: 190px;
}
img:hover{
  filter:blur(10px);
}
