body{
    background-color:aqua;
}
.title
{
    text-align:center;
}
.re
{
    color: red;
}
.fn
{
    background-color:honeydew;
}
body{
    text-align: center;
}
.fee{
    color: red;
}
.images{
    text-align: left;
}