:root{
    --primary:#f9001d;
    --secondary:orange;
    --font-size:24px;
    scrollbar-color: var(--primary);
    scrollbar-highlight-color: aqua;

}
body{
    box-sizing: border-box;
	font-family: Raleway, sans-serif;
	padding: 0px;
	margin: 0px;
	width: 100vw;
}
/*header starts */
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 140px;
}
.logo img{
    margin: 10%;
    height: 100px;
    width: 150px;
}
ul{
    display: flex;
    gap:40px;   
    padding-right: 20px;
    padding-top: 6%;
}
ul li{
    list-style-type: none;
    padding-left: 50px;
}
.banner{

    display: flex;
    padding: 200px 100px;
}
.left h2{
    font-size: 30px;
    font-weight: 700;
}
.left p{
    font-size: 20px;
    text-align:justify;
    font-weight: 550;
    padding: 4%;
}
.mobileno{
    display: flex;
    justify-content: space-between;
    gap: 1px;
    padding-right: 10%;
    padding-left: 4%;
}
.mobileno input{
     width: 80%;
     height:27px;
     padding-right: 5%;
     border: 2px solid blueviolet;
     padding: 0px 21px;
}
.mobileno button{
    width: 20%;
    height: 30px;
    background-color: blue;
    color: white;
}
.right img{
    height: 300px;
    width: 500px;
}
#teams{
    box-sizing: border-box;
    padding: 50px;
    padding-left: 40px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
    align-items: center;
    
}
.team1 {
  box-shadow: 10px 10px black;
  padding: 20px;
  border-radius: 50px;
  transition: all 1s ease;
}
img{
    height: 60px;
    width: 100px;
    margin: 5%;
    padding-left: 70px;
    align-items: center;
}
img:hover{
    filter: grayscale();
    opacity: 0.9;
}
.team1:hover{
    box-shadow: 10px 10px var(--primary);  
 scale: 1.05; 
}
button{
    padding-right: 100px;
}
.team2{

}
img{
    height: 150px;
    width: 300px;
    margin: 5%;
}
img:hover{
    filter: grayscale();
    opacity: 0.9;
}
.team3{
}
img{
    height: 150px;
    width: 270px;
    margin: 5%;
}
img:hover{
    filter: grayscale(--primary);
    opacity: 0.9;
}
.team4{
    
}
img{
    height: 150px;
    width: 270px;
    margin: 5%;
}
img:hover{
    filter: grayscale();
    opacity: 0.9;
}
.right p{
    font-size: 20px;
    text-align:justify;
    font-weight: 550;
    padding: 4%;
}