.main{
    background-color:bisque;
    height: 1200px;
    width: 800px;
}
.box{
    height: 100px;
    width: 300px;
    display: grid;
    place-items: center;
    background-color: aquamarine;
    border: 2px solid black;
}
.box11 {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 50% 50% 50% 50% 50%;
}