.main{
    background-color: bisque;
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 100px;
}
.box11{
    height: 100px;
    width: 400px;
    background-color: aqua;
    border: 5px solid black;
}
.box22{
    height: 100px;
    width: 400px;
    display: grid;
    background-color: aqua;
    border: 5px solid black;
}
.box33{
    height: 100px;
    width: 400px;
    display: grid;
    background-color: aqua;
    border: 5px solid black;
}
.box44{
    height: 100px;
    width: 400px;
    display: grid;
    background-color: aqua;
    border: 5px solid black;
}