body{
    box-sizing: border-box;
}
.main{
    height: 300px;
    width: 600px;
    background-color: bisque;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-around;
    align-items: center;
    align-content:center;
   
}
.box
{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 3px solid black;

}
.box11{
    flex-basis: 1000px;
}